
.carrinho-form-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.carrinho-form {
  border-radius: 8px;
  flex-basis: 1300px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.wrapper-box-wrapper {
  display: flex;
  justify-content: center;
}

.success-payment-wrapper {
  transform: translateY(-150px);
  display: flex;
  justify-content: center;
}

.success-payment {
  flex-basis: 400px;
}

.wrapper-box {
  padding: 14px;
  border-radius: 18px;
  display: inline-block;
  border: 1px solid rgb(220,220,220);
}

.wrapper-box + .wrapper-box {
  margin-left: 18px;
}

.wrapper-box .wrapper-title {
  margin: 10px;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
