
@font-face {
  font-family: "Work Sans";
  src: url("./WorkSans-Regular.otf");
}

:root {
  --back-color: #f7f7f7;
  --primary: #ef84f1;
  --red: #dc4141;
  --blue: #5b7ae1;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

body, textarea, button, input {
  font-family: "Work Sans";
}

.inp {
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
  background-color: var(--back-color);
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 3px 8px rgba(150,150,150,.4);
}

.title {
  color: var(--primary);
  margin: 6px 0;
}

.tac {
  text-align: center;
}

.btn {
  border: 1px solid var(--primary);
  padding: 8px;
  background: none;
  cursor: pointer;
  color: var(--primary);
  width: 100%;
  border-radius: 12px;
  margin-top: 8px;
  transition-duration: .15s;
}

.link {
  color: var(--blue);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn:hover {
  color: white;
  background-color: var(--primary);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  transform: translateY(-100px);
  flex-basis: 500px;
  margin: 0 12px;
}

.error {
  color: var(--red);
} 
