
.navbar-wrapper {
  height: 100px;
  align-items: center;
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(200,200,200);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 72px;
  flex-basis: 100%;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  transform: scale(1,1);
  font-size: 1.2em;
  transition-duration: .2s;
  margin-left: 16px;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link:active {
  transform: scale(.9,.9);
}

#logo {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  #logo {
    display: none;
  }

  .navbar-wrapper {
    height: 60px;
  }

  .nav-link {
    font-size: 1em;
    margin-left: 5px;
  }

  .navbar {
    margin: 0 18px;
  }
}
